.box-container{
    display: flex;
    flex-direction: column;
    padding: 30px 160px;
    width: 400px;
}

.btn{
    color: white;
    background-color: black;
}

.btn:hover{
    color:rgb(31, 30, 30);
    background-color:rgb(14, 168, 0);
}


@media (max-width:600px){
    Box{
        width:290px;
    }

}