/* TrendingRecipe.css */

.recipe-container {
    padding: 50px 100px;
    display: flex;
    /* justify-content: space-around; */
    /* padding: 0px 30px; */
    /* align-items: center; */
    flex-wrap: wrap;
    gap:40px;  
    /* margin:30px; */
    /* height: 100vh; */
  }

  .logo a{
    text-decoration:none;
    color:black
  }
  
  .card-container {
    width: 350px; 
    animation: slideIn 0.6s linear;
    /* height: 200px;; */
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
  }
  
  .card-body {
    padding: 0px 20px;
    line-height: 0.9;
  }
  
  .card-title {
    font-size: 1.5rem;
    color:rgb(255, 51, 85);
  }
  
  .card-text {
    font-size: 1rem;
    color: #6b6b6b;
    
  }

  #boldtitle{
    color:black;
    font-weight:400;
    font-size: medium;
  }


  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  


  @media (max-width:600px){
    .recipe-container {
      padding: 30px 30px;
      display: flex;
      justify-content: space-around;
      /* align-items: center; */
      flex-wrap: wrap;
      gap:40px;
      /* margin:30px; */
      /* height: 100vh; */
    }

    .card-img-top {
      width: 100%;
      height: 150px;
    }
    .card-body {
      padding: 15px;
    }
    .card-title {
      margin-bottom: 10px;
      font-size: 1rem;
    }
    
    .card-text {
      font-size: 16px;
      color: #555;
    }
    
  }