
.recipe-container {
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;  
   }

  .logo a{
    text-decoration:none;
    color:black
  }
  
  .card-container {
    width: 350px; 
    animation: slideIn 0.6s linear;
    /* height: 200px;; */
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
  }
  
  .card-body {
    padding: 0px 20px;
    line-height: 1.2;
  }
  
  .card-title {
    font-size: 1.5rem;
    color:rgb(255, 51, 85);
  }
  
  .card-text {
    font-size: 16px;
    color: #929292;
  }

  #boldtitle{
    color:black;
    font-weight:400;
    font-size: medium;
  }


  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  @media (max-width:768px){
    .recipe-container {
      padding: 40px 30px;
      display: flex;
      flex-wrap: wrap;
      /* gap:40px;   */
    }
    .card {
      border: 1px solid #ccc;
      /* border-radius: 0px; */
      border-radius: 2%;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-body {
      padding: 0px 10px;
      line-height: 0.7;
    }
    
    .card-container {
      width: 320px; 
      animation: slideIn 0.6s linear;
      /* height: 200px;; */
    }

  }

  @media (max-width:600px){
    .recipe-container {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: flex-start; */
      gap: 10px;
      margin: 30px;
      /* height: 100vh; */
  }

  .card-title {
    font-size: 12px;
    /* color: #929292; */
  }

 
    .card-container {
      width: 150px; 
      animation: slideIn 0.6s linear;
      /* height: 200px;; */
    }

    .card-img-top {
      width: 100%;
      height: 100px;
    }
    .card-body {
      padding: 0px 10px;
    }
    .card-body p{
      line-height: 1;
    }
    .card-title {
      /* margin-bottom: 0px; */
      font-size: 1rem;
      margin: 0;

    }
    
    .card-text {
      font-size: 12px;
      color: #7e7c7c;
      margin-top: 10px;
    }
    
    #boldtitle{
      color:black;
      /* font-weight:200; */
      font-size:12px;
      /* margin-bottom: 15px; */
    }
  }