.containers{
    display:flex;
    justify-content: space-around;
    height: 60vh;
    background-color: #EAD8CA;
    padding: 20px 30px;
}
.food-img img{
    height: 60vh;

}
.food-img{
    margin: 0;
    /* width: 50%; */
    justify-content: center;
}

.food-data{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

span{
    color:rgb(255, 51, 85);
}

.content{
    align-items: center;
    margin: auto;
    padding: 60px;;
}
.content h3{
    font-size:42px;
    font-weight: bold;
    width: 350px;
    text-transform: capitalize;
}

.food-data button{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: transparent;
}

@media (max-width: 1024px){
    .food-img img{
        height:40vh;
        width: auto;
    }
    .food-img{
        justify-content: center;
        height: auto;
        width: 100%;
        /* margin: 0; */
        align-items: center;
        margin: auto;
        padding: auto;
       
    }
}

@media (max-width:768px){
    .food-img img{
        height:350px;
        width: auto;
    }
    .food-img{
        justify-content: center;
        height: auto;
        width: 100%;
        /* margin: 0; */
        align-items: center;
        margin: auto;
        padding: auto;
       
    }
    .content{
        align-items: center;
        margin: auto;
        padding: auto;
    }
    .content h3{
        font-size:22px;
        font-weight: bold;
        width: auto;
        text-transform: capitalize;
    }
    
.food-data{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
    
    
}


@media (max-width:600px){

    .containers{
        height: auto;
        flex-direction: column;
        /* background-color: #EAD8CA; */
        width: auto;
    }
    .food-img img{
        height:300px;
        width: 100%;
    }
    .food-img{
        justify-content: center;
        height: auto;
        width: 100%;
        /* margin: 0; */
        align-items: center;
       
    }
    
    .food-data{
        
     width: auto;
    display: flex;
    flex-wrap: wrap;
    }
    
    .content{
        align-items: center;
        margin: auto;
        padding: 0px;
        width: 90%;
    }
    .content h3 {
        font-size: 22px;
        font-weight: bold;
        width: 100%;
        text-transform: capitalize;
        text-align: center;
    }

    .content p{
        font-size: 12px;
        opacity: 0.5;
        text-align: center;
    }
    .food-data button{
        padding: 5px 20px;
        border-radius: 10px;
        background-color: transparent;
    }
    
}